* {
	
	box-sizing: border-box;

}
html {

}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeueMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "InterRegular";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;

   height:100%;
}


html,
body,
#__next {
	height: 100%;

   scroll-behaviour: smooth;
 
}


.bottom-padding{
  padding-bottom: 20px;
  
}
.nav-link-custom{
  text-decoration: none;
  color: black;
  padding-right: 20px;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
}
.full-width-input {
  width: 100%;
  box-sizing: border-box;
}

.editor-controls {
  display: flex;


}
.formatted-text {
  white-space: pre-wrap;
}



.terminal {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16px;
  height: 250px;
  overflow-y: scroll;



}

.terminal p:last-child::after {
  content: "";
  display: inline-block;
  height: 1em;
  vertical-align: bottom;
  width: 0.6em;
  animation: cursor 1s infinite;
}

.terminal input {
  background-color: black;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 16px;
  outline: none;
 
}

@keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.container {
  display: flex;
  width: 100%;
}

.outerdiv{
  overflow-y: scroll;
}